.carousel {
    position: relative;
    width: 100%;
    /* max-width: 1200px; */
    margin: auto;
    overflow: hidden;
    height:500px;
  }
  
  .carousel-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
  }
  
  .indicator {
    width: 10px;
    height: 10px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .indicator.active {
    background-color: #333;
  }
  
  @media (max-width: 720px) {
    .carousel{
      height:200px;
    }
  };
  @media (max-width: 1026px) {
    .carousel{
      height:300px;
    }
  };